<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>unapp Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<!-- temperatura-->
<div id="TT_JiTwbxdxtYBc8QGU7fzDjDDDzWnU1Y1lbtkYEsCoakzomImo3"></div>
<script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JiTwbxdxtYBc8QGU7fzDjDDDzWnU1Y1lbtkYEsCoakzomImo3"></script>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
							</li>
								<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">
    <button  id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Opciones
    </button>
    <div  class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: transparent; color: black;">
      <a class="dropdown-item"style="color:#000000" href="SumarDispositivos">Añadir Dispositivos</a>
      <br>
      <a class="dropdown-item" style="color:#000000" href="#">Editar Perfil</a>
      <br>
       <a class="dropdown-item" style="color:#000000" href="/Index">Cerrar Sesión</a>
    </div>
  </div>
</div>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section id="dispositivos" class="video-hero" style="height: 700px; background-image: url('/img/vina.jpg');  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="dispositivos">
                     <br>
                    <br>
                    <br>
                     <br>
                   <div class="contenedor"/> 
                
                         
                                    <h1 class="text-black border border-primary border-top-0 border-left-0 border-rigth-0">Mis Dispositivos </h1>
                                
                                    <table class="table table-striped tabla1 text-light">
    
                                        <thead>
                                            <tr>
                                               <th>Id</th>
                                                <th>Ubicacion</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                                <tr th:each="dispositivo : ${dispositivos}">
                                                <td th:text="${dispositivo.id}"></td>
                                                <td th:text="${dispositivo.ubicacion}"></td>
                                                <td><a th:href="@{/dispositivos/actualizacion(id=${dispositivo.id})}"><i class="fa fa-pencil"></i></a> - <a th:href="@{/dispositivos/eliminar(id=${dispositivo.id})}"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div/>
                    
                    
		</section>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

